@page "/Furry"
@layout FurryCardLayout
<PageTitle>@Strings.Furry.PageTitle</PageTitle>

<RadzenStack Gap="0.5em">
    <RadzenStack Orientation="Orientation.Horizontal">
        <RadzenImage Path="furry/img/KerduWithBackroundLargeV2.png" class="furry-pfp rz-border-radius-2" />
        <RadzenCard class="ajh-accent-background">
                <RadzenText TextStyle="TextStyle.DisplayH2">@Strings.Furry.Title</RadzenText>
        </RadzenCard>
    </RadzenStack>

    <RadzenCard class="rz-shadow-0 ajh-secondary-background">
        <p>@Strings.Furry.Greeting</p>
    </RadzenCard>
    <LinkCollectionList Links="@LinkLists.Frontend.Furry.GetHobbyLinks()" Title="@Strings.Furry.Sections.HobbiesListTitle" />
    <LinkCollectionList Links="@LinkLists.Frontend.Furry.GetSocialLinks()" Title="@Strings.Furry.Sections.SocialListTitle" />
</RadzenStack>