@page "/"
@layout CardLayout
<PageTitle>@Strings.Main.PageTitle</PageTitle>

<RadzenStack Gap="0.5em">
    <RadzenText TextStyle="TextStyle.DisplayH2">@Strings.Main.Title</RadzenText>

    <RadzenCard class="rz-shadow-0 ajh-secondary-background">
        <p>@Strings.Main.Greeting</p>
    </RadzenCard>

    <LinkCollectionList Links="@LinkLists.Frontend.GetMainLinks()" Title="@Strings.Main.LinkListTitle" />
</RadzenStack>

<FurryPassphrase/>